body {
    background-color: #ffffff;
    /* background-color: skyblue; */
    margin: 0;
    width: 100%;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.total_price {
    /* background-color: green; */
    height: 400px;
    font-size: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
table {
    background-color: white;
    border-spacing: 0;
    width: 100%;
    height: 300px;
}
td {
    padding: 0;
}
.input_wrap {
    position: relative;
    height: 100%;
}
.input_info {
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 50px;
    text-align: center;
}
.input_info:focus + .underline {
    width: 100%;
}
.underline {
    background: linear-gradient(to right, blue, white);
    width: 0;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
.add {
    background-color: white;
    color: black;
    margin: 50px 50px;
    border: 5px solid blue;
    border-radius: 50px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    font-size: 50px;
    transition: 0.1s;
}
.add:active {
    transform: scale(0.9);
}
.shopping_list {
    background-color: #ffffff;
    height: 1050px;
    overflow: auto;
    overscroll-behavior: none;
}
.item {
    background-color: white;
    margin: 50px 50px;
    border: 5px solid blue;
    border-radius: 50px;
    box-sizing: border-box;
    min-height: 150px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name {
    /* background-color: green; */
    padding: 34px;
    box-sizing: border-box;
    width: 50%;
    min-height: 140px;
    overflow: auto;
    overscroll-behavior: none;
    display: flex;
    align-items: center;
}
.quantity {
    /* background-color: skyblue; */
    padding: 41px;
}
.price {
    /* background-color: purple; */
    padding: 41px;
}
.update {
    /* background-color: grey; */
    border: none;
    padding: 0;
    width: 100%;
    outline: none;
    font-size: 50px;
}